######################################################################
# simulation values for the initial traveling salesman test program.
######################################################################

## if enabled, write discriptive headers to the output file.
#--file-headers

## if enabled, supresses file headers (trumps the above)
--no-file-headers

## if enabled supress the city listing.
#--world-silent

## if enabled, supress detail lines and print single character 
## indicators for each generation.
# --silent

## if enabled supress all non-error output.
# --mute

## file to read the "city" list from
infile		input.lst

## file to write the generation results out to
outfile		tourney.out

## number of chromosomes per generation
c_count		500

## number of breeding chromosomes per generation
b_percent		10

## the number of lowest ranked chromosomes to discard each
## generation. If > c_count all will be replaced, if not
## specified (commented out) defaults to b_count.
d_percent		50

## number of viable chromosomes required to start run.
## 0 = none; just create c_count chromosomes without 
##	validation.
v_count		0

## odds of any given chromosome mutating spontainiously.
mutations	0.04

## number of highest ranking chromosomes to be transfered without
## modification to the next generation.
save_count	1

## number of consectutive identical best fitness
## scores required to complete the run.
samelimit	50

## maximum number of generations to run.
genlimit	100

## Level that entropy in the system must drop to before
## the simulation is allowed to exit. Expressed as 
## an integer percentage.
e_threshold	50

## if "cross" is uncommented, use crossover recombination
## for breeding instead of the splice method.
#--cross

## if not silent, statics will be displayed every g_mod
## generations. Defaults to one.
g_mod		100
